body {
    width: 100%;
    height: 100%;	
	background-color: #09090c;
	background-image: url("../img/bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;	
}

.main-text-color {
	font-size: 120%;
	color:#fff;
}

.name{
	color:#00dbac;
	font-size:400%;
}

html, body, .container {
    height: 100%;
}

.container {
	padding-top:150px;
    display: table;
    vertical-align: middle;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.center {
    margin: auto;
    width: 50%; 
	padding-top:50px;   
}

@media (max-width: 767px){
	.center {
		width:100%;
	}
}