<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Clubber.Backend.MongoDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Clubber.Backend.MongoDB.Properties.Settings>
      <setting name="MongoDBConectionString" serializeAs="String">
        <value>mongodb://localhost:27017"</value>
      </setting>
      <setting name="MongoDBDatabaseNameTest" serializeAs="String">
        <value>clubbertest</value>
      </setting>
    </Clubber.Backend.MongoDB.Properties.Settings>
  </userSettings>
</configuration>